fj31-jaxb-standalone/teste.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="produto" type="produto"/>

  <xs:complexType name="produto">
    <xs:sequence>
      <xs:element name="categoria" type="categoria" minOccurs="0"/>
      <xs:element name="descricao" type="xs:string" minOccurs="0"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
      <xs:element name="preco" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

